.menuItem:hover{
    -fx-border-color: BLUE;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
}

.sidebarItem:hover{
    -fx-background-color: #145886;
    -fx-boarder-color: WHITE;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-cursor: hand;
}

.colorbar{
    -fx-background-color:  #B3D9FF;
}